[Unit]
Description=report
After=network-online.target

[Service]
WorkingDirectory=/home/ubuntu/peti-rfq-relayer/
ExecStart=/home/ubuntu/go/bin/peti-rfq-relayer --home /home/ubuntu/.rfq-relayer -logdir /var/log/peti-rfq-relayer/log -loglevel debug
StandardError=append:/var/log/peti-rfq-relayer/error/server.err.log
Restart=always
RestartSec=10
User=ubuntu

[Install]
WantedBy=multi-user.target